body{
    font-family: 'Source Sans Pro', sans-serif;
    border: 2em #bdc7cf solid;
    padding: 2%;
}
h2{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #3098dd;
}
h1{
    color: #354b63;
    font-size: 2.5em;
}

div div p:nth-of-type(1){
    border-left: 0.5em #bdc7cf solid;
    padding: 0.8em;

}